header {
    background-color:#AED6F1;
    text-align: center;
    padding: 45px;
    color: #f00606;
    margin: 0;
    display: flex;
    font-size:23px;
    font-weight: 640;
    text-decoration: none;
    
  }

  