.formData{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.labelData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

